* {
    font-family: 'Montserrat', sans-serif;
  }
  
  html, body {
    margin: 0;
    border: 0;
    padding: 0;
    color: white;
    background-color: rgb(23, 22, 22);
    height: 100%;
  }
  
  main {
    margin: auto;
    width: 50%;
    padding: 20px;
  }
  
  main > h1 {
    text-align: center;
    font-size: 2.5em;
  }
  
  script, b, p {
    white-space: pre-wrap;
    text-align: center;
  }
  
  .wrap {
    overflow: hidden;
    position: relative;
  }
  
  .content {
    position: relative;
  }