* {
    font-family: 'Montserrat', sans-serif;
  }
  
  html, body {
    margin: 0;
    border: 0;
    padding: 0;
    color: white;
    background-color: rgb(23, 22, 22);
    height: 100%;
    overflow-x: hidden;
  }
  
  main {
    margin: auto;
    width: 60%;
    padding: 20px;
    position: relative;
    display: flex;
  }
  
  main > h1 {
    text-align: center;
    font-size: 1.5em;
  }
  
  script, b, p {
    white-space: pre-wrap;
    text-align: center;
  }
  
  .wrap {
    overflow: hidden;
    position: relative;
  }
  
  .content {
    position: relative;
  }

  .bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position:absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
    background-color: red;
    z-index: -1;
  }

  .blue {
    background: rgb(61, 61, 239);
  }

  .red {
    background: rgb(237, 59, 59);
  }

  .green {
    background: rgb(26, 178, 26);
  }

  .dark {
    background: rgb(52, 51, 51);
  }